<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Pilot Index</title>
  <style>
    .carousel {
      height: 100vh;
    }

    .pilot_class {
      font-size: calc(6vw + 3vh) !important;
    }

    .pilot_name {
      font-size: calc(8vw + 3vh) !important;
    }

    .pilot_round {
      font-size: calc(4vw + 3vh) !important;
    }

    @font-face {
      font-family: digitalFont;
      src: url(font/digital-7.ttf);
    }
  </style>
  <!-- CSS  -->
  <link href="materialize/css/material_lcons.css" rel="stylesheet">
  <link href="materialize/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body style="height: 100vh !important;" class="yellow" onclick="location.reload();">
  <div class="section no-pad-bot yellow" id="index-banner">
    <div class="container yellow black-text">
      <div class="row">
        <div class="col s12"><h1 class="heading">AeroJudge Device</h1></div>
      </div>
    </div>
  </div>
  <!--  Scripts-->
  <script src="jquery-3.6.4.min.js"></script>
  <script src="materialize/js/materialize.js"></script>
  <script>
    setTimeout('location.reload();', 5000)();
  </script>
</body>
</html>
