<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Scoring</title>
    <style>
        .carousel {
            height: 100vh;
        }

        .indicators {
            visibility: hidden;
        }

        .figure-wrapper svg path {
            fill: rgb(6, 223, 252) !important;
        }

        .figure-wrapper svg text {
            fill: green !important;
        }

        .modal {
            border-radius: 20px !important;
            max-height: 98% !important;
            top: 3% !important;
        }

        .modal-content {
            padding: 10px !important;
        }

        .scoresummary {
            
            margin-bottom: 0px !important;
            border-bottom: 1px solid #ff43002e;
        }
        @font-face {
            font-family: digitalFont;
            src: url(font/digital-7.ttf);
        }

        .pilotname {
            font-size: 6vh;
            font-weight: 500;
            line-height: 10vh;
            line-height: 3vh; 
        }

        .dir-toggle-row {
            margin-top: -14px;
            margin-bottom: 0;
        }

        .btn-change-dir {
            font-size: 1rem;
            font-weight: 700;
            letter-spacing: 0.02em;
            height: 36px;
            line-height: 36px;
            padding: 0 14px;
        }
    </style>
    <!-- CSS  -->
    <link href="materialize/css/material_lcons.css" rel="stylesheet">
    <link href="materialize/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />

</head>

<body style="height: 100vh !important;">



    <div class="carousel carousel-slider center">
        <div class="carousel-fixed-item center" id="buttonsDiv">
            <a class="btn waves-effect white grey-text darken-text-2" onclick="removeScore(0.5);"id="btnremovehalf">-0.5</a>
            <a class="btn waves-effect white grey-text darken-text-2" onclick="removeScore(1);" id="btnremoveone">-1</a>
            <a class="btn waves-effect white grey-text darken-text-2" onclick="setScore(0);" id="btnsetzero">0</a>
            <a class="btn waves-effect white grey-text darken-text-2" onclick="addScore(0.5);" id="btnaddhalf">+0.5</a>
            <a class="btn waves-effect white grey-text darken-text-2" onclick="addScore(1);" id="btnaddhalf">+1</a>
            <a class="btn waves-effect white grey-text darken-text-2" onclick="setScore(-1);" id="btnsetbreak">Break</a>
            <a class="btn waves-effect white grey-text darken-text-2" onclick="setScore(-2);" id="btnsetno">N/O</a>
            <a class="btn waves-effect white grey-text darken-text-2" onclick="longDescription();" id="btnspeak">speak</a>
            <a class="btn waves-effect white grey-text darken-text-2" onclick="carouselPrev();" id="btnprev">prev</a>
            <a class="btn waves-effect white grey-text darken-text-2" onclick="carouselNext();" id="btnnext">next</a>
        </div>
        <div th:each="maneuver,iterStat : ${maneuvers}" class="carousel-item yellow black-text" href="#one!">
            <div class="row" style="margin-bottom: 0px; height: 10px;">
                <p><span class="pilotname" th:text="${pilot.name + ' ('+pilot_class.substring(0,3)+' '+roundType.substring(0,3)+')'}"></span></p>
            </div>
            <div class="row">
                <div class="col s12 valign-wrapper">
                    <div class="col s4">
                        <!-- <button data-target="modal_summary" class="btn modal-trigger">Modal</button> -->
                        <div class="section" style="height: 80%">
                            <h1 style="font-family: digitalFont; font-size: 40vh; line-height: 10vh;  "
                                th:id="'score_'+ ${iterStat.index}">10.0</h1>
                        </div>
                    </div>
                    <div class="col s8">
                    <br>
                    <img id="my-svg" style="width:60vw; height:70vh;" class="figure-wrapper" alt="Figure Image"
                    th:attr="data-figure-index=${iterStat.index + 1}"
                    th:src="@{/man/{language}/{sequenceFolderPath}/{index}{dirletter}.svg(language=${settings.language}, sequenceFolderPath=${sequenceFolderPath}, index=${iterStat.index + 1}, dirletter=${dirletter})}"
                    onerror="this.onerror=null; this.src= sequencesBasePath + '/default/FAIL/fig_missing.svg';">
                    </div>
                </div>
            </div>
            <div class="row dir-toggle-row" th:if="${(roundType eq 'KNOWN' or roundType eq 'UNKNOWN') and iterStat.index == 0}">
                <div class="col s4 center-align" style="margin-left: 10px;">
                    <a class="waves-effect waves-light btn blue darken-1 btn-change-dir" id="btnChangeDir" href="#!">Change Dir</a>
                </div>
            </div>
            <div class="row">
                <div class="col s4 left" style="font-size: 4vh; font-weight: 500; margin-left: 10px;">
                    <span>Round <span th:text="${activeRound}"></span></span>
                    <span th:if="${roundType eq 'KNOWN'}"> Seq <span th:text="${activeSequence}"></span></span>
                    <span th:if="${roundType eq 'KNOWN' or roundType eq 'UNKNOWN'}"> Dir <span class="dirletter-label" th:text="${dirletter}"></span></span>
                </div>
                
                <h2 style="line-height: 1rem ; margin: 1rem ;" th:id="'description_'+ ${iterStat.index}">
                    <span th:if="${roundType ne 'FREESTYLE'}" th:text="'Figure '+${(iterStat.index + 1) + ' ' + maneuver.description}"></span>
                    <span th:if="${roundType eq 'FREESTYLE'}" th:text="${maneuver.description}"></span>
                </h2>
            </div>
        </div>
    </div>

    <!-- Summary Modal -->
    <div th:replace="~{summary_modal::summary_modal}"></div>


    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">menu</i>
        </a>
        <ul>
            <li><a class="btn-floating btn-large green" onclick="showAllButtons();">
                <i class="material-icons">view_module</i></a></li>
            <li><a class="btn-floating btn-large green" href="/">
                <i class="material-icons">home</i></a></li>
        </ul>
    </div>


    <!--  Scripts-->
    <script src="jquery-3.6.4.min.js"></script>
    <script src="materialize/js/materialize.js"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        // Or with jQuery
        var score_index = 0;
        var windowHeight = window.innerHeight;
        const scores = [];
        const numOfManeuvers = /*[[${numOfManeuvers}]]*/ ;
        const round =  /*[[${activeRound}]]*/ ;
        const sequence =  /*[[${activeSequence}]]*/ ;
        const primary_id =  /*[[${pilot.primary_id}]]*/ ;
        const pilot_name =  /*[[${pilot.name}]]*/ ;
        const roundType =  /*[[${roundType}]]*/ ;
        const pilot_class =  /*[[${pilot_class}]]*/ ;
        const sequenceJson = JSON.parse( /*[[${sequencesjson}]]*/);
        var audio = new Audio();

        const sequencesBasePath = "/man/" + /*[[${settings.language}]]*/ ;
        const sequenceFolderPath = /*[[${sequenceFolderPath}]]*/ ;
        const audioBasePath = sequencesBasePath + "/audio";  // Score audio, Now Judging audio
        const sequenceType = /*[[${sequenceType}]]*/ ;  // Kept for backward compatibility
        let currentDirLetter = /*[[${dirletter}]]*/ 'B';

        const welcome_text = 'Now judging ' + pilot_name + ' ' + pilot_class + ' round ' + round + ' sequence ' + sequence + ' ' + roundType;
        const synth = window.speechSynthesis;
        const voices = synth.getVoices();

        let classFilter = localStorage.getItem("classFilter");
        let carouselLocked = false;  // Prevents navigation when summary modal is open

        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.modal');
            for (var i in sequenceJson) {
                $('#ss_' + i + '_desc').text(sequenceJson[i].description);
            }
            var instances = M.Modal.init(elems, {
                dismissible:false,
                startingTop: '1%',
                startingBottom: '1%',
                onOpenStart: function(modal){
                    // Lock carousel when summary modal opens - must be handled before navigation resumes
                    if (modal.id === 'modal_summary') {
                        carouselLocked = true;
                    }
                    for (var i in scores) {
                        var currentScore = '#ss_' + i + '_text';
                        switch (scores[i]) {
                            case -1:
                                $(currentScore).text('Break');
                                break;
                            case -2:
                                $(currentScore).text('N/O');
                                break;
                            default:
                                $(currentScore).text(scores[i]);
                                break;
                        }
                    }
                },
                onCloseEnd: function(modal){
                    // Unlock carousel when summary modal closes (Review or Save clicked)
                    if (modal.id === 'modal_summary') {
                        carouselLocked = false;
                    }
                }
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.fixed-action-btn');
            var instances = M.FloatingActionButton.init(elems, {
                hoverEnabled: false
            });
        });
        function setVirtualButtonVisibility(btnremovehalf, btnaddhalf, btnsetno, btnsetbreak) {
            if (btnremovehalf) {
                $('#btnremovehalf').removeAttr('disabled');
            } else {
                $('#btnremovehalf').attr('disabled', 'disabled');
            }
            if (btnaddhalf) {
                $('#btnaddhalf').removeAttr('disabled');
            } else {
                $('#btnaddhalf').attr('disabled', 'disabled');
            }
            if (btnsetno) {
                $('#btnsetno').removeAttr('disabled');
            } else {
                $('#btnsetno').attr('disabled', 'disabled');
            }
            if (btnsetbreak) {
                $('#btnsetbreak').removeAttr('disabled');
            } else {
                $('#btnsetbreak').attr('disabled', 'disabled');
            }
        }

        function updateVirtualButtons(index) {
            var scoring = sequenceJson[index].scoring;
            console.log(sequenceJson[index].scoring);
            if (scoring == "HALF") {
                setVirtualButtonVisibility(true, true, true, true);
            } else {
                setVirtualButtonVisibility(false, false, false, false);
            }
        }

        function textToSpeech() {
            synth.cancel();
            var description_id = "#description_" + score_index;
            var description_text = $(description_id).text();
            const msg = new SpeechSynthesisUtterance();
            msg.text = description_text;
            synth.speak(msg);
        }

        function shortdescription(caller_index) {
            audio.pause();
            audio.currentTime = 0;
            var audio_url = sequencesBasePath + '/' + sequenceFolderPath + '/fig' + ( score_index + caller_index + 1 ) + '.mp3';
            audio = new Audio(audio_url);
            audio.volume = 1.0;
            audio.onerror = function() {
                console.warn('Figure audio not found: ' + audio_url);
            };
            audio.play();
        }

        function longDescription() {
            // Stop short description if playing, so caller audio takes priority
            if (audio && !audio.paused) {
                audio.pause();
                audio.currentTime = 0;
            }

            if (audiolongd.paused) {
                audiolongd.play();
            } else {
                audiolongd.pause();
            }
        }  
        
        function setLongDescription(caller_index) {
            var audiolongurl = sequencesBasePath + '/' + sequenceFolderPath + '/call' + ( score_index + caller_index + 1 ) + '.mp3';
            audiolongd = new Audio(audiolongurl);
            audiolongd.onerror = function() {
                console.warn('Call audio not found: ' + audiolongurl);
            };
        }

        function NowJudgingMessage() {
            audio.pause();
            audio.currentTime = 0;
            var audio_url;
            if (roundType === 'freestyle') {
                audio_url = audioBasePath + '/now_judging_freestyle_sequence.mp3';
            } else {
                audio_url = audioBasePath + '/now_judging_' + pilot_class + '_' + roundType + '_sequence.mp3';
            }
            audio = new Audio(audio_url.toLowerCase());
            audio.volume = 1.0;
            audio.onerror = function() {
                console.warn('Now Judging audio not found: ' + audio_url);
                // Still call shortdescription even if Now Judging audio fails
                shortdescription(0);
            };
            audio.play();
            audio.addEventListener("ended", (event) => {
                shortdescription(0);
            });

        }

        function closeAllModals() {
            // Close all open modals before carousel navigation
            // EXCEPT summary modal - that requires explicit user action (Review/Save)
            var modals = document.querySelectorAll('.modal');
            modals.forEach(function(modal) {
                if (modal.id === 'modal_summary') return;  // Skip summary modal
                var instance = M.Modal.getInstance(modal);
                if (instance && instance.isOpen) {
                    instance.close();
                }
            });
        }

        function isNumber(n) {
            return Number(n) === n;
        }

        function updateDirectionUI() {
            $('.dirletter-label').text(currentDirLetter);
            $('.figure-wrapper').each(function () {
                var figureIndex = $(this).attr('data-figure-index');
                var imagePath = sequencesBasePath + '/' + sequenceFolderPath + '/' + figureIndex + currentDirLetter + '.svg';
                $(this).attr('src', imagePath);
            });
        }

        function toggleDir() {
            currentDirLetter = currentDirLetter === 'B' ? 'C' : 'B';
            updateDirectionUI();
        }

        function textToSpeechCustomMessage(text) {
            if (isNumber(text)) {
                //this is a number lets build url to wave file
                audio.pause();
                audio.currentTime = 0;
                var audio_url = audioBasePath + '/score/' + text + '.mp3';
                audio = new Audio(audio_url);
                audio.volume = 1.0;
                audio.play();

            } else if (text == 'BREAK') {
                audio.pause();
                audio.currentTime = 0;
                var audio_url = audioBasePath + '/score/break.mp3';
                audio = new Audio(audio_url);
                audio.volume = 1.0;
                audio.play();

            } else if (text == 'Not Observed') {
                audio.pause();
                audio.currentTime = 0;
                var audio_url = audioBasePath + '/score/not_observed.mp3';
                audio = new Audio(audio_url);
                audio.volume = 1.0;
                audio.play();

            } else {
                synth.cancel();
                const msg = new SpeechSynthesisUtterance();
                msg.text = text;
                synth.speak(msg);
            }


        }
        update_index = function () {
            var activeIndicator = this.$indicators.find('.indicator-item.active');
            i = activeIndicator.index();
            score_index = i;
            console.log(score_index)
            scores[score_index] = getCurrentScore(score_index);
            updateVirtualButtons(score_index);
        }

        function getCurrentScore(index) {
            score_id = "#score_" + index
            var score_text = $(score_id).text();
            if (score_text == 'BREAK') {
                return parseFloat(-1);
            }
            if (score_text == 'N/O') {
                return parseFloat(-2);
            }
            return parseFloat($(score_id).text());
        }

        var car = $('.carousel.carousel-slider').carousel({
            fullWidth: true,
            indicators: true,
            noWrap: true,
            onCycleTo: update_index
        });
        car.height(windowHeight);
        // textToSpeechCustomMessage(welcome_text);
        NowJudgingMessage();
        setLongDescription(0);

        function carouselPrev() {
            // Block navigation if summary modal is open - user must Review or Save first
            if (carouselLocked) return;

            closeAllModals();
            $('.carousel').carousel('prev');
            audiolongd.pause();
            audiolongd.currentTime = 0;
            shortdescription(-1);
            setLongDescription(-1);
        }

        function carouselNext() {
            // Block navigation if summary modal is open - user must Review or Save first
            if (carouselLocked) return;

            closeAllModals();
            $('.carousel').carousel('next');
            audiolongd.pause();
            audiolongd.currentTime = 0;
            shortdescription(1);
            setLongDescription(1);
            submitScores(false);
            if (score_index == (numOfManeuvers - 1)) {
                // Dynamically populate summary modal rows based on actual number of maneuvers
                populateSummaryModal();
                $('#modal_summary').modal('open');
                // This is done for every score now...
                //submitScores();
            }
        }

        function populateSummaryModal() {
            // Clear existing dynamic rows (keep header)
            $('#modal_summary .scoresummary').not(':first').remove();

            // Generate rows dynamically for each maneuver
            for (var i = 0; i < numOfManeuvers; i++) {
                var desc = sequenceJson[i] ? sequenceJson[i].description : '';
                var scoreText = formatScoreForDisplay(scores[i]);

                var row = $('<div class="row scoresummary">' +
                    '<div class="col s2 m3 right-align">Fig ' + (i + 1) + '</div>' +
                    '<div class="col s9 m7" id="ss_' + i + '_desc">' + desc + '</div>' +
                    '<div class="col s1 m2 right-align" id="ss_' + i + '_text">' + scoreText + '</div>' +
                    '</div>');
                $('#modal_summary .modal-footer').before(row);
            }
        }

        function formatScoreForDisplay(score) {
            if (score === undefined || score === null) return '-';
            if (score === -1) return 'Break';
            if (score === -2) return 'N/O';
            if (score === -3) return 'Deadline';
            return score;
        }

        function submitScores(done = false) {
            console.log("Scores: " + JSON.stringify(scores));
            if (done !== true) {
                return;
            }
            for (i in scores) {
                if (scores[i] == null) {
                    scores[i] = 10;
                }
            }
            console.log("Cleaned scores: " + JSON.stringify(scores));

            var postData = {
                primary_id: primary_id,
                round: round,
                sequence: sequence,
                type: roundType,
                scores: scores
            }
            $.ajax({
                type: "POST",
                url: "/api/score",
                data: JSON.stringify(postData),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (done)
                        nextEvent(data);
                },
                failure: function (errMsg) {
                    alert(errMsg);
                }
            });
        }

        function addScore(increment) {
            if (increment == 0.5) {
                //check if scoring is half
                var scoring = sequenceJson[score_index].scoring;
                if (scoring != "HALF") {
                    return;
                }
            }
            var scoreFloat = getCurrentScore(score_index);
            scoreFloat = scoreFloat + increment
            if (scoreFloat > 10) {
                scoreFloat = 10;
            }
            if (scoreFloat < 0) {
                scoreFloat = 0;
            }
            scores[score_index] = scoreFloat
            console.log(scoreFloat)
            console.log(JSON.stringify(scores));

            score_id = "#score_" + score_index
            $(score_id).text(scoreFloat);
            textToSpeechCustomMessage(scoreFloat);

        }

        function removeScore(increment) {
            if (increment == 0.5) {
                //check if scoring is half
                var scoring = sequenceJson[score_index].scoring;
                if (scoring != "HALF") {
                    return;
                }
            }
            var scoreFloat = getCurrentScore(score_index);
            scoreFloat = scoreFloat - increment
            if (scoreFloat < 0) {
                scoreFloat = 0
            }
            scores[score_index] = scoreFloat
            console.log(scoreFloat)
            console.log(JSON.stringify(scores));
            score_id = "#score_" + score_index
            $(score_id).text(scoreFloat);
            textToSpeechCustomMessage(scoreFloat);
        }

        function setScore(score) {
            if (score == -1 || score == -2) {
                //check if scoring is half
                var scoring = sequenceJson[score_index].scoring;
                if (scoring != "HALF") {
                    return;
                }
            }
            console.log("setting score to > " + score);
            var currentScore = parseFloat(score);
            scores[score_index] = currentScore;
            score_id = "#score_" + score_index;
            if (currentScore == -1) {
                $(score_id).text('BREAK');
                textToSpeechCustomMessage('BREAK');
                //carouselNext();
            }
            if (currentScore == -2) {
                $(score_id).text('N/O');
                textToSpeechCustomMessage('Not Observed');
                //carouselNext();
            }
            if (currentScore >= 0) {
                $(score_id).text(currentScore);
                textToSpeechCustomMessage(currentScore);
                if (currentScore == 0) {
                    //carouselNext();
                }
            }
            console.log(JSON.stringify(scores));
        }

        function nextEvent(responseData) {
            if (responseData.isActive) {
                // Use per-type round tracking - check if round advanced for current type
                if (responseData.activeRoundByType[roundType] > round) {
                    if (classFilter && classFilter != "global") {
                        window.location.replace("/pilot-list-global?classFilter=" + classFilter);
                    } else {
                        window.location.replace("/pilot-list-global");
                    }
                }
                if (responseData.activeSequenceByType[roundType] > sequence) {
                    location.reload();
                }
            } else {
                window.location.replace("/pilot-list-global?classFilter=" + classFilter);
            }
        }
        $("#buttonsDiv").hide();
        function showAllButtons() {
            $("#buttonsDiv").show();
        }

        //add button listeners
        $(document).on("keypress", function (e) {
            // numpad 8
            if (e.which == 56) {
                addScore(0.5);
            }
            // numpad 2
            if (e.which == 50) {
                removeScore(0.5);
            }
            //numpad 5
            if (e.which == 53) {
                setScore(0);
            }
            //numpad 9
            if (e.which == 57) {
                addScore(1);
            }
            //numpad 3
            if (e.which == 51) {
                removeScore(1);
            }
            // numpad 7 
            if (e.which == 55) {
                setScore(-1);
            }
            // numpad 1
            if (e.which == 49) {
                setScore(-2);
            }
            //numpad 6
            if (e.which == 54) {
                carouselNext();
            }
            //numpad 4
            if (e.which == 52) {
                carouselPrev();
            }
            //numpad 0
            if (e.which == 48) {
                //shortdescription(0);
                longDescription();
            }
        });

        $('#btnChangeDir').on('click', function(e) {
            e.preventDefault();
            toggleDir();
        });

        updateDirectionUI();
        /*]]>*/
    </script>

</body>

</html>
