<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Select Round</title>

  <!-- CSS  -->
  <link href="materialize/css/material_lcons.css" rel="stylesheet">
  <link href="materialize/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="materialize/css/nouislider.css" type="text/css" rel="stylesheet" />
  <style>
    .row {
      margin-bottom: 5px;
      margin-top: 5px;
    }

    .heading {
      font-size: calc(1vw + 3vh) !important;
    }

    .data {
      font-size: calc(1vw + 2vh) !important;
    }

    th.heading {
      font-size: calc(1vw + 1vh) !important;
    }

    td.data {
      font-size: calc(1vw + 1vh) !important;
    }

    .btn {
      font-size: calc(1vw + 1vh) !important;
    }

    @font-face {
      font-family: digitalFont;
      src: url(font/digital-7.ttf);
    }
  </style>
</head>

<body class="yellow">
  <div class="section no-pad-bot yellow" id="index-banner">
    <div class="container yellow black-text">
      <div class="row">
        <div class="col s12"><h5 class="heading">Rounds</h5></div>
      </div>
      <div class="row center">
        <table>
          <thead>
          <tr>
            <th class="heading hiddendiv">Round ID</th>
            <th class="heading">Class</th>
            <th class="heading">Type</th>
            <th class="heading">Round</th>
            <th class="heading">Seqs.</th>
            <th class="heading">Schedule</th>
            <th class="heading">Started</th>
            <th class="heading">Closed</th>
          </tr>
          </thead>
          <tbody>
          <tr th:if="${rounds.empty}">
            <td colspan="8"> No Rounds </td>
          </tr>
          <tr th:each="round : ${rounds}">
            <td class="hiddendiv light data"><span th:text="${round.round_id}">id</span></td>
            <td class="light data"><span th:text="${round.comp_class}">comp_class</span></td>
            <td class="light data"><span th:text="${round.type}">type</span></td>
            <td class="light data"><span th:text="${round.round_num}">round_num</span></td>
            <td class="light data"><span th:text="${round.sequences}">sequences</span></td>
            <td class="light data"><span th:text="${round.sched_desc}">sched_desc</span></td>
            <td class="light data"><span th:text="${round.started_at ?: '-'}">started_at</span></td>
            <td class="light data"><span th:text="${round.closed_at ?: '-'}">closed_at</span></td>
          </tr>
          </tbody>
        </table>
      </div>
      <br>
    </div>
  </div>
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">menu</i>
    </a>
    <ul>
      <li><a class="btn-floating btn-large green" href="/"><i class="material-icons">home</i></a></li>
    </ul>
  </div>
  <!--  Scripts-->
  <script src="jquery-3.6.4.min.js"></script>
  <script src="materialize/js/materialize.js"></script>
  <script th:inline="javascript">
    /*<![CDATA[*/
    /*]]>*/
  </script>
</body>
</html>
