[Unit]
Description=TS43 thumbwheel volume service
Wants=sound.target
After=sound.target

[Service]
User=root
Group=root
ExecStart=/usr/bin/python3 /var/opt/volume_service/volume.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
