[Unit]
Description=TS43 thumbwheel volume service

[Service]
User=root
Group=root
ExecStart=/usr/bin/python3 /var/opt/volume_service/volume.py

[Install]
WantedBy=multi-user.target
