[Unit]
Description=AeroJudge PCB 3.6 TS43 thumbwheel volume service
Wants=audio-hardware.service
PartOf=audio-hardware.service
After=audio-hardware.service

[Service]
User=judge
Group=judge
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=PULSE_SERVER=unix:/run/user/1000/pulse/native
ExecStart=/usr/bin/python3 /var/opt/volume_service/volume.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
