[Unit]
Description=Volume knob monitor

[Service]
User=root
Group=root
ExecStart=python /var/opt/volume_service/volume.py

[Install]
WantedBy=multi-user.target